Sand Project/.vs
Sand Project/Sand Project
Sand Project/x64
Sand Project/Sand Project.sln
Sand Project/Sand Project.vcxproj
Sand Project/Sand Project.vcxproj.filters
Sand Project/Sand Project.vcxproj.user
